

<div class="col-md-10 mx-auto my-2">
    <div class="card mb-3">
        <div class="card-header my-2">
            <h3 class="text-center">new Candidato</h3>
        </div>
        <div class="card-body mb-3">
            <form action="/candidatos/add" method="POST">
                <div class="form-group">
                    
                    <input type="text" class="form-control" name="name" id="" placeholder="Nombre Completo" autofocus>
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" name="urlFoto" id="" placeholder="Url de La Imagen" autofocus>
                </div>
                <div class="form-group">
                    
                    <input type="text" class="form-control" name="info" id="" placeholder="Informacion del candidato" autofocus>
                </div>
                <div class="form-group">
                    
                    <input type="text" class="form-control" name="urlInfo" id="" placeholder="url de la informacion de wykipedia" autofocus>
                </div>
                <div class="form-group">
                    
                    <input type="text" class="form-control" name="estado" id="" placeholder="estado del candidato  'true o False'" autofocus>
                </div>
             
                <div class="form-group">
                     <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>


</div>