<div class="row">

    {{#each votos }}
    <div class="col-md-3 my-2">
        <div class="card text-center">
            
            <p class="p-1">este presidente:  {{presidente}}</p>
            <p>Pronto Publicaremos los resultados</p>
            

        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h2>hello {{user.email}}</h2>
            <p class="display-5">No tienes notas</p>
            <a href="/note/add" class="btn btn-success  mx-auto my-2">Crea Una ahora</a>
        </div>
    </div>
    {{/each}}
</div>