<div class="jumbotron mt-4">
    <h1 class="display-4">AppVotar...</h1>
    <hr class="y-4">
    <p class="lead"> Esta es un proyecto personal realizados con fines puramente academicos... </p>
    <p>Fin: Busca hacer una pequeña en cuesta para ser tomada  solo como referencia, al menos por el momento</p>
    <p>Meta: Aplicar tegnologias y metodos cientificos para poder hacer de esta AppVotar una Fuente confiable de informacion(Futuras Encuestas) libre y de acceso a todo el publico en general</p>
     <a href="/users/signup"  class="btn btn-primary btn-lg  mb-2">Votar</a>
</div>
