<div class="jumbotron mt-4">
    <h1 class="display-4">Acerca de..</h1>
    <hr class="y-4">
    <p class="lead"> consectetur adipisicing elit. Autem ipsa sapiente excepturi quia quis atque assumenda, vel iste aspernatur minus animi sed ratione harum quidem nostrum illo laudantium quisquam neque?</p>
    <a href="#"  class="btn btn-primary btn-lg ">miWeb</a>
</div>
