


</script>


<div class="row">
   
    
        <div class="jumbotron">
			 <h1 class="display-4">Te invito a votar el candidato de tu preferencia</h1>
          
                   <a href="/users/signup"  class="btn btn-primary btn-lg ">Votar</a>
                 	 <div class="form-group">
                        
                	<div class="row card-container mx-auto">
							 
	                	 <div class="card my-1 mr-1  " style="width:12rem;"  id="mipresi1" >
	                	
		                        <img alt="..." class="card-img-top" src="http://lucidez.pe/wp-content/uploads/2018/09/BeFunky-collage-135.jpg" id="images">
		                         
	                        
	                    </div>
	                     <div class="card my-1 mr-1  " style="width:12rem;"   id="mipresi1" >
		                       <img alt="..." class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Keiko_Fujimori.jpg	">
		                            
	                        
	                    </div>
	                      <div class="card my-1 mr-1  " style="width:12rem;"  id="mipresi1" >
		                        <img alt="..." class="card-img-top" src="https://www.celag.org/wp-content/uploads/2018/11/julio-guzman.jpg">
		                        
	                        
	                    </div>
	                      <div class="card my-1 mr-1  " style="width:12rem;"  id="mipresi1" >
		                        <img alt="..." class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/2/22/Keiko_Fujimori_em_outubro_de_2010.jpg	">
		                          
	                        
	                    </div>
	                <div class="card my-1 mr-1  " style="width:12rem;"  id="mipresi1" >
						<img alt="..." class="card-img-top" src="https://www.construccionyvivienda.com/media/k2/items/cache/5189f3286915715b50cff89ddded1008_XL.jpg">
		                           
	                    hola
                   </div>
                 </div>  
                </div>
              
              <p class="lead">Esta un una pequeña encuesta para ver tus preferencias electorales...</p>
        </div>
    </div>


