


</script>


<div class="row">
   
    
        <div class="jumbotron">
			 <h1 class="display-4">Te invito a votar el candidato de tu preferencia...</h1>
          
                   <a href="/users/signup"  class="btn btn-primary btn-lg  mb-2">Votar</a>
                 	 <div class="form-group">
                        
    <div class="row card-container mx-auto">
							 
	             
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/j6SPW5H/veronica.jpg" alt="veronica" border="0" width="200">
			
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/bJFdRyg/julio-guzman.jpg" alt="julio-guzman" border="0" width="200">
					
			
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded"
					src="http://lucidez.pe/wp-content/uploads/2018/09/BeFunky-collage-135.jpg" id="images" width="200">
				
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded"src="https://i.ibb.co/yFWp0vt/keiko.jpg" alt="keiko" border="0" width="200">
				
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded"  src="https://i.ibb.co/9ZKJKng/barnecheachiko.jpg" alt="barnecheachiko" border="0" width="200">
				
			</figure>
			<figure class="figure mi-foto">

				<img alt="" class="figure-img img-fluid rounded" src="https://i.ibb.co/XDMMmMV/acu-a.jpg" id="images"
					width="200">
				
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/NsPXg9H/alberto-belaunde.jpg"
					id="images" width="200">
			
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/TBjDdwt/santoschiko.jpg" alt="santoschiko" border="0" width="200">
				
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" <img src="https://i.ibb.co/WGK2BVV/del-solar.jpg" alt="del-solar" border="0" width="200">
				
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/PwdKw6H/antauro.jpg"
					alt="antauro" border="0" width="200">
			
			</figure>
				
     </div>
              
              <p class="lead">Esta un una pequeña encuesta para ver tus preferencias electorales...</p>
        </div>
    </div>


