<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App node.js and MongoDB</h1>
    <hr class="y-4">
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem ipsa sapiente excepturi quia quis atque assumenda, vel iste aspernatur minus animi sed ratione harum quidem nostrum illo laudantium quisquam neque?</p>
    <a href="#"  class="btn btn-primary btn-lg ">miWeb</a>
</div>

