body {
   
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

.new-note{
    background-color: #6DD5FA;  
}

.card-container{
    margin: auto;
    display: flex;
    justify-content:space-around;
}
  .card {
    padding: 6px;
}
.card:hover {
    padding: 0px;
    -moz-transition: .3s linear;
    -webkit-transition: .3s ease-out;
    transition: .3s linear;
}

