<div class="row my-5">
    <div class="col-md-4 mx-auto">
        <div class="card">
           <div class="card-header text-center">
                <h3>Registrate  a Notes</h3>
               
            </div>
             <img src="/images/scare.png" class="rounded-circle  mx-auto" width="180" alt="mi-logo">
            <div class="card-body">
                <form action="/users/signup" method="POST">
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" name="name" id="" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" name="email" id="" placeholder="Email" >
            </div>
             <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" name="password" id="" placeholder="Password" >
            </div>
              <div class="form-group">
                <label for="">Confimmar Password</label>
                <input type="password" class="form-control" name="confirm_password" id="" placeholder="Confirmme password">
            </div>
             <div class="form-group">
                 <button class="btn btn-primary btn-block">Signup</button>
            </div>
        </form>
            </div>
        </div>
    </div>
</div>
        
   