<script>
	function votoPresi1() {
		var votacion = document.getElementById("voto1").value;
		document.getElementById("mivoto").value = votacion;
	}
	function votoPresi2() {
		var votacion = document.getElementById("voto2").value;
		document.getElementById("mivoto").value = votacion;

	}
	function votoPresi3() {
		var votacion = document.getElementById("voto3").value;
		document.getElementById("mivoto").value = votacion;
	}
	function votoPresi4() {
		var votacion = document.getElementById("voto4").value;
		document.getElementById("mivoto").value = votacion;

	}
	function votoPresi5() {
		var votacion = document.getElementById("voto5").value;
		document.getElementById("mivoto").value = votacion;
	}
	function votoPresi6() {
		var votacion = document.getElementById("voto6").value;
		document.getElementById("mivoto").value = votacion;
	}
	function votoPresi7() {
		var votacion = document.getElementById("voto7").value;
		document.getElementById("mivoto").value = votacion;

	}
	function votoPresi8() {
		var votacion = document.getElementById("voto8").value;
		document.getElementById("mivoto").value = votacion;
	}
	function votoPresi9() {
		var votacion = document.getElementById("voto9").value;
		document.getElementById("mivoto").value = votacion;

	}
	function votoPresi10() {
		var votacion = document.getElementById("voto10").value;
		document.getElementById("mivoto").value = votacion;
	}

</script>

<div class="container mb-5">

	<h2 class="text-center ">Registrate y Vota</h2>
	<form action="/users/signup" method="POST" class="">

		<div class="row card-container mx-auto">
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/j6SPW5H/veronica.jpg" alt="veronica" border="0" width="200">
					
				<div class="form-check">

					<input type="hidden" value="Veronika Mendoza " id="voto1">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option3"
							onclick="votoPresi1()">
						<label class="form-check-label" for="">
							Veronika Mendoza
						</label>
					</div>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/bJFdRyg/julio-guzman.jpg" alt="julio-guzman" border="0" width="200">
					
				<div class="form-check">

					<input type="hidden" value="Julio Guzman" id="voto2">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option3"
							onclick="votoPresi2()">
						<label class="form-check-label" for="">
							Julio Guzman
						</label>
					</div>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded"
					src="http://lucidez.pe/wp-content/uploads/2018/09/BeFunky-collage-135.jpg" id="images" width="200">
				<input type="hidden" value="Daniel Urresty" id="voto3">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option1"
						onclick="votoPresi3()">
					<label class="form-check-label" for="">
						Daniel Urresti
					</label>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded"src="https://i.ibb.co/yFWp0vt/keiko.jpg" alt="keiko" border="0" width="200">
				<div class="form-check">

					<input type="hidden" value="Keiko Fujimori " id="voto4">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option3"
							onclick="votoPresi4()">
						<label class="form-check-label" for="">
							Keiko Fujimori
						</label>
					</div>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded"  src="https://i.ibb.co/9ZKJKng/barnecheachiko.jpg" alt="barnecheachiko" border="0" width="200">
				<div class="form-check">

					<input type="hidden" value="Alfredo Barnechea" id="voto5">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option3"
							onclick="votoPresi5()">
						<label class="form-check-label" for="">
							Alfredo Barnechea
						</label>
					</div>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img alt="" class="figure-img img-fluid rounded" src="https://i.ibb.co/XDMMmMV/acu-a.jpg" id="images"
					width="200">
				<div class="form-check">
					<input type="hidden" value="Cesar Acuña" id="voto6">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option3"
							onclick="votoPresi6()">
						<label class="form-check-label" for="">
							Cesar Acuña Peralta
						</label>
					</div>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/NsPXg9H/alberto-belaunde.jpg"
					id="images" width="200">
				<input type="hidden" value="Alberto Belaunde" id="voto7">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option1"
						onclick="votoPresi7()">
					<label class="form-check-label" for="">
						Alberto Belaunde
					</label>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/TBjDdwt/santoschiko.jpg" alt="santoschiko" border="0" width="200">
				<div class="form-check">

					<input type="hidden" value="Gregorio Santos" id="voto8">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option3"
							onclick="votoPresi8()">
						<label class="form-check-label" for="">
							Gregorio Santos
						</label>
						</label>
					</div>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" <img src="https://i.ibb.co/WGK2BVV/del-solar.jpg" alt="del-solar" border="0" width="200">
				<div class="form-check">

					<input type="hidden" value="Salvador del Solar" id="voto9">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option3"
							onclick="votoPresi9()">
						<label class="form-check-label" for="">
							Salvador del Solar
						</label>
						</label>
					</div>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img alt="..." class="figure-img img-fluid rounded" src="https://i.ibb.co/PwdKw6H/antauro.jpg"
					alt="antauro" border="0" width="200">
				<div class="form-check">

					<input type="hidden" value="Antauro Humala " id="voto10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option3"
							onclick="votoPresi10()">
						<label class="form-check-label" for="">
							Antauro Humala
						</label>
					</div>
				</div>
			</figure>
			<figure class="figure mi-foto">

				<img src="https://i.ibb.co/LhYVGRC/forsait.jpg" alt="forsait" border="0" width="200">
				<div class="form-check">

					<input type="hidden" value="Antauro Humala " id="voto10">
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="" value="option3"
							onclick="votoPresi10()">
						<label class="form-check-label" for="">
							George Forsyth
						</label>
					</div>
				</div>
			</figure>
				
			
			
			

		</div>


		<div class="form-group">
			<label for="exampleInputPassword1">

			</label>
			<input class="form-control" id="mivoto" name="presidente" placeholder="mi Voto" type="text"
				value="{{presidente}}"  style="display: none;">
			</input>
		</div>
		<div class="form-group">
			<label for="">Email</label>
			<input type="email" class="form-control" name="email" id="" placeholder="Email" value="{{email}}">
		</div>
		<div class="form-group">
			<label for="">Password</label>
			<input type="password" class="form-control" name="password" id="" placeholder="Password" {{password}}>
		</div>
		<!--
                <div class="form-group">
                    <label for="">Confimmar Password</label>
                    <input type="password" class="form-control" name="confirm_password" id="" placeholder="Confirmme password">
                </div>
                -->
		<div class="form-group ">
			<button class="btn btn-primary mb-3">Votar</button>
		</div>
	</form>
</div>
</div>